@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SimsBoldSC";
  src: url("./TheSimsSansBoldSC.otf");
}
@font-face {
  font-family: "SimsBold";
  src: url("./TheSimsSansBold.otf");
}
@font-face {
  font-family: "WithoutRain";
  src: url("./AYearWithoutRain.ttf");
}
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
html {
  scroll-behavior: smooth;
}

.uploadbutton:hover .icon-tabler-file-upload {
  stroke: #de9873;
}

.uploadbutton2:hover .file-upload-mobile {
  stroke: #ffffff;
}
