@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "EloquiaBold";
  src: url("./EloquiaBold.otf");
}
@font-face {
  font-family: "EloquiaLight";
  src: url("./EloquiaLight.otf");
}
@font-face {
  font-family: "WithoutRain";
  src: url("./AYearWithoutRain.ttf");
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
html {
  scroll-behavior: smooth;
}
