@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  min-height: 100%;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 12px;
}
.landingpage {
  position: -webkit-sticky;
  position: sticky;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

.uploadbutton:hover .icon-upload {
  stroke: #de9873;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f8f0e2 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #14232c !important;
}

@layer utilities {
  .clip-img {
    clip-path: inset(0px 0px 0px 0px round 6px);
    /*   box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.4); */
  }
}
.imagecontainer {
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}
